[Unit]
Description=Charizard Firewall - Spamhaus DROP Update (every 6h)

[Timer]
OnBootSec=300
OnUnitActiveSec=21600
Persistent=true

[Install]
WantedBy=timers.target
