[Unit]
Description=Charizard S3 Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/charizard s3 backup
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
