[Unit]
Description=Charizard Firewall - Update whitelist DNS (every 5 min)

[Timer]
OnBootSec=60
OnUnitActiveSec=300
Persistent=true

[Install]
WantedBy=timers.target
